<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.grp13.dilemma" >

    <uses-sdk android:minSdkVersion="18"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".application.ApplicationState"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateDilemma"
            android:label="Opret Dilemma"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AnswerDilemma"
            android:label="Dilemma Showcase"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Log ind"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Registrer"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
>
        </activity>
        <activity
            android:name=".EditUserActivity"
            android:label="Rediger bruger"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DilemmaListActivity"
            android:label="Din liste"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <!--
        The following fragments will replace many of the activities in the future, because it's more dynamic -Bao
        -->

        <fragment
            android:name=".DilemmaListFragment"
            android:label="Din liste"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </fragment>

        <service
            android:name=".application.notification.NotificationService"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".application.notification.NotificationReceiver" />
        <receiver android:name=".application.notification.NotificationServiceStarterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".application.notification.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="app.grp13.dilemma.NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
